<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Locator - a set of google location services for angularJS</title>
    <meta name="description" content="">

    <!-- Styles -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- endstyles -->
  </head>

  <body ng-app="locatorDemo" ng-controller="MainCtrl">

    <h1>
      <a href="https://github.com/winkerVSbecks/locator">github</a>
      Locator <small>a set of google location services for angularJS</small>
    </h1>

    <div class="column black">
      <h2>Location Lookup</h2>
      <location-lookup ng-model="location.one" limit-to="4"></location-lookup>
    </div>

    <div class="column blue">
      <h2>Location Picker</h2>
      <location-picker ng-model="location.two" limit-to="5"></location-picker>
    </div>

    <!-- Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <!-- endDependencies -->

    <!-- Google Maps API -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDk_iQ6QWOTHW-TWoXSFLwbcnhaxlcnXXk&libraries=places&sensor=true"></script>

    <!-- Scripts -->
    <script src="/example/locator/locator-tpl.js"></script>
    <script src="/src/js/location.js"></script>
    <script src="/src/js/lookup.js"></script>
    <script src="/src/js/picker.js"></script>
    <script src="/src/js/predictions.js"></script>
    <script src="/src/js/reverse-geocoder.js"></script>
    <script src="/example/locator/locator-tpl.js"></script>
    <script src="/example/js/app.js"></script>
</body>
</html>
