<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Locator - a set of google location services for angularJS</title>
    <meta name="description" content="">

    <!-- Styles -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- endstyles -->
  </head>

  <body ng-app="locatorDemo" ng-controller="MainCtrl">

    <nav>
      <h1>
        Locator <small>a set of google location services for angularJS</small>
      </h1><!--
       --><a href="https://github.com/winkerVSbecks/locator">github</a>
    </nav>

    <div class="column black flex-item">
      <h2>Location Lookup</h2>
      <location-lookup ng-model="lookedUpLocation" limit-to="4"></location-lookup>
    </div>

    <div class="column blue flex-item">
      <h2>Location Picker</h2>
      <location-picker ng-model="pickedLocation" limit-to="5"></location-picker>
    </div>

    <div ng-class="{ false: 'modal', true: 'modal--show' }[isModalVisible]">
      <div class="overlay" ng-click="toggleModal()"></div>
      <div class="modal__contents modal--transition">
        <a class="modal__close" href="" ng-click="toggleModal()">X</a>
        <h3>Picked Location</h3>
        <p>{{pickedLocation | json}}</p>
        <br/>
        <br/>
        <h3>Looked Up Location</h3>
        <p>{{lookedUpLocation | json}}</p>
      </div>
    </div>

    <!-- Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <!-- endDependencies -->

    <!-- Google Maps API -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDk_iQ6QWOTHW-TWoXSFLwbcnhaxlcnXXk&libraries=places&sensor=true"></script>

    <!-- Scripts -->
    <script src="/dist/locator-tpl.js"></script>
    <script src="/src/js/location.js"></script>
    <script src="/src/js/lookup.js"></script>
    <script src="/src/js/picker.js"></script>
    <script src="/src/js/predictions.js"></script>
    <script src="/src/js/reverse-geocoder.js"></script>
    <script src="/example/locator/locator-tpl.js"></script>
    <script src="/example/js/app.js"></script>
</body>
</html>
